body {
    font-family: "Roboto", sans-serif ;
    color: #434455;
    background-color: #FFFFFF
}


/* heder and navigation */
.navigation .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;

}

.link {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link:hover {
    color: #404BBF;
}
.link:focus{
    color: #404bbf;
}
.accent {
    color: #2e2f42;
}
.address {
    font-style: normal
}
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal
}
.contacts:hover {
    color: #404BBF;
} 
.contacts:focus {
    color: #404bbf;
}
/* main section */
.main-section {
    background-color: #2E2F42;
}
.main-section-h{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
    cursor: pointer;
}
/* advsntages */
.advant {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.advant-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
} 
.advant-l {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.strategy-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.ourteam {
    background-color: #F4F4FD;
}

.ourteam-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #FFFFFF;
}
.ourteam-list {
    background-color: #FFFFFF;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.ourteam-list-test {
    background-color: #FFFFFF;
}
.team-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* portfolio */
.portfolio-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-head-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-head-p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}



.footer {
background-color: #2e2f42;
}

.footer .logo {
    color: #4d5ae5;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.accentlogo {
    color: #f4f4fd;
}
.footer-p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
ul {
    list-style: none;
}